.homepage{
     background-image: url(http://www.itp.net/images/content/564045/article/875-cloud_article.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
     color:black;
}

.cv3{
     background-image: url(http://www.creativehdwallpapers.com/uploads/large/abstract-hd-wallpaper/abstract-hd-wallpaper-black-designs.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
     color:black;
}